@mixin setPadding($top: null, $right: null, $bottom: null, $left: null, $media: null){
  @if $media {
    @media #{$media} {
      padding: $top $right $bottom $left;
    }
  } @else {
    padding: $top $right $bottom $left;
  } 
}

@mixin flexColumn(){
  display: flex;
  flex-direction: column;
}

@mixin setGradient($direction, $start, $stop){
  background-image: linear-gradient($direction, $start, $stop);
}