@import './mixins.scss';

.nav{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  @include setPadding(1rem);

  &__hamburger{
    border: 0;
    background: transparent;
    cursor: pointer;
    width: 30px;
    height: 20px;
    @include flexColumn();
    justify-content: space-between;
    padding: 0;
  }

  &__line{
    display: flex;
    width: 100%;
    height: 3px;
    background-color: hsl(346.7,16.4%,22.6%);
  }

  &__line--center{
    width: 75%;
  }

  &__line:last-of-type{
    width: 50%
  }
}