@import './mixins.scss';

.search {
  position: relative;
  width: 100%;
  color: getThemeValue($theme-medium, color-text);
  @include flexColumn();
  align-items: center;
  padding: 2rem;

  &__input {
    font-size: 1rem;
    border: 0;
    height: 2.5rem;
    box-shadow: $default-shadow;
    @include setPadding(0 1rem);
    margin: 1rem;
    border-radius: $default-border-radius;
  }

  &__submit {
    font-size: 1rem;
    border: 0;
    cursor: pointer;
    padding: 0.5em 1.5em;
    box-shadow: $default-shadow;
    color: getThemeValue($theme-medium, color-text);
    background-color: getThemeValue($theme-hot, color-bg-1);
    border-radius: $default-border-radius;
  }

  &__wrapper {
    @include flexColumn();
    align-items: center;
    width: 100%;
    @include setPadding(1rem 2rem);
  }
}

.search-menu {
  background-color: $color-white-1;
  transform: translateX(100%);
  display: flex;
  width: 100%;
  top: -81%;
  min-height: 650px;
  position: relative;
  z-index: 10;
  transition: transform 0.5s;

  &--active {
    transform: translateX(0);
  }
}
