@font-face {
  font-family: 'Weather';
  src: 
  url('/src/fonts/Weather&Time.woff') format('woff'),
  url('fonts/Weather&Time.woff2') format('woff2'),
  url('fonts/Weather&Time.ttf') format('ttf');
}
body{
  font-size: 14px;
  display: flex;
  justify-content: center;
  font-family: 'Lato';
}
.wrapper{
  display: flex;
  flex-direction: column;
  flex-basis: 350px;
  color: #fcfcfc;  
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF9E32), to( #F83B35));
  background-image: -webkit-linear-gradient(top, #FF9E32,  #F83B35);
  background-image: -moz-linear-gradient(top, #FF9E32, #F83B35);
  background-image: linear-gradient(to bottom, #FF9E32,  #F83B35);
  box-shadow: 5px 5px 35px #aaaaaa;
  align-items: center;
  border-radius: 3px;
  padding: 1rem;
}
.city-name{
  text-transform: uppercase;
  font-size: 20px;
  margin: 30px 0 0 0;
}
.app-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-output{
  font-family: 'Weather';
  color: #fcfcfc;
  font-size: 100px;
  margin: 20px 0 5px 0;
}
.icon-description{
  color: #fcfcfc91;
  font-size: 14px;
  font-style: italic;
}
.temperature{
  font-size: 45px;
  margin: 30px 0 25px 0;
}
.temperature-unit {
  border-radius: 2px;
  padding: 5px 20px;
  font-size: 16px;
  color: #252525;
  border: 1px solid #eee;
  background-color: #eee;
  cursor: pointer;
}
.app-footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px;
}
.data-box{
  width: 30%;
  padding: 0;
  margin: 0;
  font-family: 'Weather';
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data-description{
  font-family: 'Lato';
  font-size: 11px;
  margin: 0;
  text-transform: uppercase;
}
.data-value{
  font-size: 13px;
  margin: 5px;
  font-family: 'Lato';
  color: #fcfcfc91;
}

