@function getThemeValue($theme, $theme-value) {
  @return map-get($theme, $theme-value);
}

$theme-hot: (
  color-text: hsl(346.7, 16.4%, 15.6%),
  color-bg-1: hsl(34.6, 100%, 72.2%),
  color-bg-2: hsl(354.8, 100%, 68.6%),
  color-value: hsl(346.7, 16.4%, 18.6%)
);
$theme-medium: (
  color-text: hsl(203.4, 30.4%, 26.5%),
  color-bg-1: hsl(119.3, 100%, 83.1%),
  color-bg-2: hsl(163.4, 100%, 53.3%),
  color-value: hsl(203.4, 30.4%, 30.5%)
);
$theme-cold: (
  color-text: hsl(203.4, 30.4%, 17.5%),
  color-bg-1: hsl(176, 67.9%, 74.3%),
  color-bg-2: hsl(219, 66.9%, 71.6%),
  color-value: hsl(203.4, 30.4%, 23.5%)
);

$app-width: 400px;
$app-height: 700px;

$color-white: #ffffff;
$color-white-1: #f4ebe8;
$font: Archivo, sans-serif;
$font-size-icon: 150px;
$font-size-temperature: 45px;
$font-decorative: Weather;
$font-decorative-size: 55px;

$default-border-radius: 2px;
$default-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
$huge-shadow: 5px 5px 35px hsla(203.4, 30.4%, 26.5%, 0.51);
